body {
    background-color: #f8f9fa;
}

#results {
    .list-group-item {
        border-radius: 8px;
        background-color: #d2d2d2;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;

        h5 {
            margin: 0;
            font-weight: bold;
        }
        a {
            color: #007bff;
        }
    }

    .list-group-item:hover{
       background-color:  #b7b5b5;
       transform: scale(1.01);
    }
}

#analysisResult{
    font-size: 1.2em;
}

