:root{
     /*mimic spotify color scheme*/
    --spotify-dark-gray: #191414;
    --spotify-light-gray: #535353;
    --spotify-green: #1db954;
    --spotify-white: #FFFFFF;
}

*{
    font-family: "Helvetica-Neue", Helvetica, sans-serif !important;
    font-weight: 900;
    color: var(--spotify-white) !important;
}



body {
    background-color: var(--spotify-dark-gray) !important; /*override Bootstrap colors*/
}

.list-group-item {
    color: var(--spotify-white) !important;
    border-radius: 8px;
    background-color: var(--spotify-light-gray) !important;
   
    transition: transform 0.3s ease;
}

.list-group-item:hover{
    background-color:  var(--spotify-green) !important;
    transform: scale(1.01);
}

#analysisResult{
    font-size: 1.2em;
}

.dropdown-menu {
    background-color: var(--spotify-light-gray) !important;
    border: 1px solid var(--spotify-green);
}

.dropdown-item {
    color: var(--spotify-white) !important;
    transition: background-color 0.2s ease;
}

.dropdown-item:hover {
    background-color: var(--spotify-green) !important;
    color: var(--spotify-white) !important;
}

